@font-face {
  font-family: JetBrains;
  src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

footer {
  width: 100%;
  background-color: var(--color-black);
  padding: var(--spacing-medium);
}

footer h3 {
  color: var(--color-white);
  font-family: JetBrains;
  font-weight: 300;
}
