@font-face {
  font-family: JetBrains;
  src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* Navbar Styling */
header {
  width: 100%;
}

.navbar {
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: var(--spacing-medium);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  position: fixed;
}

/* Navbar Logo Styling */
.navbar__logo-container {
  font-family: JetBrains;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  text-decoration: none;
  color: var(--color-white);
}

.navbar__logo h1 {
  font-weight: 300;
  font-size: var(--font-size-large);
}

/* Navbar Links Styling */
.navbar__links-container {
  flex-grow: 1;
}

.navbar__links {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-medium);
}

.navbar__links a {
  color: inherit;
  font-size: var(--font-size-small);
  text-decoration: none;
}

.navbar__links a:hover {
  font-style: italic;
}

.navbar__link--active {
  font-style: italic;
}

/* Navbar Toggle Styling */
.navbar__toggle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__toggle-button {
  visibility: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.navbar__toggle-logo {
  display: block;
  color: var(--color-white);
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 820px) {
  .navbar__toggle-logo {
    visibility: visible;
    color: var(--color-white);
  }

  .navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    z-index: 1000;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -1000px;
    width: 50%;
    flex-direction: column;
    transition: 1s;
    overflow: hidden;
    font-style: normal;
  }

  .navbar__link--active {
    left: 0;
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .navbar__links {
    width: 100%;
  }

  .navbar__toggle-button {
    z-index: 1;
  }
}
