main {
  padding: var(--spacing-medium);
  min-height: 89vh;
}

/* Saved Films Container Styling */
h2 {
  font-size: var(--font-size-x2-large);
  font-weight: 300;
  margin-top: 150px;
  margin-bottom: var(--spacing-large);
}

.saved-films {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.saved-films__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-medium);
  width: 100%;
}

.films__cards-container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.no-saved-films {
  color: var(--color-white);
  font-size: var(--font-size-small);
  margin-top: 20px;
  height: 350px;
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 820px) {
  .saved-films__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .saved-films__grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
