:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;

  /* Spacing */
  --spacing-x-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 30px;
  --spacing-large: 50px;
  --spacing-x-large: 100px;
  --spacing-x2-large: 120px;

  /* Font Size */
  --font-size-x-small: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;
  --font-size-x2-large: 3rem;
}
